div {
    display: grid;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.page {
    display: grid;
    grid-template-areas:
    'title     title      title'
    'projects  fixed-data buttons'
    'projects  in-out     buttons'
    'projects  last-time  buttons';
    width:50%;
}

.title {
    grid-area: title;
}

.title > h1, h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
}

.fixed-data {
    grid-area: fixed-data;
    width: 400px;
    height: 100px;
    display: grid;
    align-content: center;
}

.fixed-data > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.projects {
    grid-area: projects;
    width: 200px;
}

.in-out {
    grid-area: in-out;
    display:inline;
    height: 50px;
}

.buttons {
    grid-area: buttons;
    margin: 0.5em 0.5em 0.5em 0.5em;
    justify-content: end;
}

.buttons > input {
    margin: 0.5em 0.5em 0.5em 0.5em;
    width: 120px;
}

.last-time {
    grid-area: last-time;
}
