body {
    background-color: powderblue;
}

div, table, h1, h2 {
    margin: 1em 1em 1em 1em;
}

p {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

table, th, td  {
  border: 2px solid;
  border-collapse: collapse;
  border-color: black;
}

th, td {
  padding: 3px;
}

tbody tr:hover {
  background-color: teal;
  color: white;
  border-color: black;
}

span {
    left-margin: 0;
    right-margin: 0;
}

.bold {
    font-weight: bold;
}

.inline {
 display:inline;
}

.Search {
    border: 1px solid;
}

.edit {
    background-color: yellow;
}

.view {
    background-color: aqua;
}
