body {
    background-color: powderblue;
}

h1, h2 {
    text-align: center;
}

div, table {
    margin: 1em 1em 1em 1em;
}

p {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

span {
    left-margin: 0;
    right-margin: 0;
}

.bold {
    font-weight: bold;
}

.inline {
    display:inline;
}

#caps-lock {
    color: red;
    font-weight: bold;
}

input[type=button] {
    background-color:powderblue;
    color: black;
    border-radius:5px;
    border-width: thin;
    padding: 5px;
}

input[type=button]:hover {
    background-color: #88E07C;
}

input[type=submit] {
    background-color:powderblue;
    color: black;
    border-radius:5px;
    border-width: thin;
    padding: 5px;
}

input[type=submit]:hover {
    background-color: #0098fe;
}

input[type=reset] {
    background-color:powderblue;
    color: black;
    border-radius:5px;
    border-width: thin;
    padding: 5px;
}

input[type=reset]:hover {
    background-color: #FF6F6F;
}
