<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}" />
    <title>Title</title>
</head>
<body>
    <h1>Delete</h1>
    <form action="delete" method="post">
        <div>Do you really want to delete the record</div>
        <div>with id <span class="bold" th:text="'&quot' + ${id} + '&quot'"></span> in table <span class="bold" th:text="'&quot' + ${table} + '&quot'"></span>?</div>
        <input type="hidden" name="id" th:value="${id}"><input type="hidden" name="table" th:value="${table}">
        <div><div class="inline"><input type="submit" value="Yes"></div><div class="inline"><input type="reset" value="No" onclick="history.back()"></div></div>
    </form>
</body>
</html>