<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <title>Title</title>
</head>
<body>
<!-- insert div -->
<div th:style="${insert} ? 'display:block' : 'display:none'" >
    <h1>Insert</h1>
    <!-- times table-->

    <div th:style="${table} == 'times' ? 'display:block' : 'display:none'">
        <h2>Times</h2>
        <form action="times" method="post">
            <div>Employee Id <input class="edit" name="EmployeeID"></div>
            <div>Project Id <input class="edit" name="ProjectID"></div>
            <div>Punched Time <input type="datetime-local" class="edit" name="PunchedTime"></div>
            <div>in <input class="edit" type="checkbox" name="in" ></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <form  action="back/Time">
                <input type="submit" value="Back">
            </form>
        </div>

    </div>

    <!-- employees table-->
    <div th:style="${table} == 'employees' ? 'display:block' : 'display:none'">
        <h2>Employees</h2>
        <form action="employees" method="post">
            <div>Name <input class="edit" name="Name"></div>
            <div>Surname <input class="edit" name="Surname"></div>
            <div>Date of birth <input type="date" class="edit" name="BirthDate"></div>
            <div>Place of birth <input class="edit" name="BirthPlace"></div>
            <div>Social Security Number <input class="edit" name="SocialSecurityNum"></div>
            <div>Residence <input class="edit" name="Residence" size="60"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <form  action="back/Employee">
                <input type="submit" value="Back">
            </form>
        </div>
    </div>

    <!-- users table-->
    <div th:style="${table} == 'users' ? 'display:block' : 'display:none'">
        <h2>Users</h2>
        <form action="users" method="post">
            <div>User Name <input class="edit" name="UserName"></div>
            <div>Role ID <input class="edit" name="RoleID"></div>
            <div>Employee ID <input class="edit" name="EmployeeID"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <form  action="back/User">
                <input type="submit" value="Back">
            </form>
        </div>
    </div>

    <!-- projects table-->
    <div th:style="${table} == 'projects' ? 'display:block' : 'display:none'">
        <h2>Projects</h2>
        <form action="projects" method="post">
            <div>Project Name <input class="edit" name="ProjectName"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <form  action="back/Project">
                <input type="submit" value="Back">
            </form>
        </div>
    </div>

    <!-- roles table-->
    <div th:style="${table} == 'roles' ? 'display:block' : 'display:none'">
        <h2>Roles</h2>
        <form action="roles" method="post">
            <div>Role <input class="edit" name="RoleDesc"></div>
            <div>Is Admin <input type="checkbox" class="edit" name="IsAdmin"></div>
            <div>Project ID <input class="edit" name="ProjectID"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <form  action="back/Role">
                <input type="submit" value="Back">
            </form>
        </div>
    </div>
</div>

<!-- edit div -->
<div th:style="${insert} ? 'display:none' : 'display:block'" >
    <h1>Edit</h1>
    <!-- times table-->
    <div th:style="${table} == 'times' ? 'display:block' : 'display:none'">
        <h2>Times</h2>
        <form action="times" method="post">
            <input type="hidden" name="ID" th:value="${table} == 'times' and not ${insert} ? ${time.ID} : ''">
            <input type="hidden" name="InsertTimestamp" th:value="${table} == 'times' and not ${insert} ? ${time.InsertTimestamp} : ''">
            <input type="hidden" name="InsertUser" th:value="${table} == 'times' and not ${insert} ? ${time.InsertUser} : ''">
            <div>Employee Id <input class="edit" name="EmployeeID" th:value="${table} == 'times' and not ${insert} ? ${time.EmployeeID} : ''"></div>
            <div>Project Id <input class="edit" name="ProjectID" th:value="${table} == 'times' and not ${insert} ? ${time.ProjectID} : ''"></div>
            <div>Punched Time <input type="datetime-local" class="edit" name="PunchedTime" th:value="${table} == 'times' and not ${insert} ? ${time.PunchedTime} : ''"></div>
            <div>in <input class="edit" type="checkbox" name="in" th:checked="${table} == 'times' and not ${insert} ? ${time.in} : ''"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <div>
                <form  action="back/Time">
                    <input type="submit" value="Back">
                </form>
            </div>
        </div>
    </div>

    <!-- employees table-->
    <div th:style="${table} == 'employees' ? 'display:block' : 'display:none'">
        <h2>Employees</h2>
        <form action="employees" method="post">
            <input type="hidden" name="ID" th:value="${table} == 'employees' and not ${insert} ? ${employee.ID} : ''">
            <div>Name <input class="edit" name="Name" th:value="${table} == 'employees' and not ${insert} ? ${employee.Name} : ''"></div>
            <div>Surname <input class="edit" name="Surname" th:value="${table} == 'employees' and not ${insert} ? ${employee.Surname} : ''"></div>
            <div>Date of birth <input type="date" class="edit" name="BirthDate" th:value="${table} == 'employees' and not ${insert} ? ${employee.BirthDate} : ''"></div>
            <div>Place of birth <input class="edit" name="BirthPlace" th:value="${table} == 'employees' and not ${insert} ? ${employee.BirthPlace} : ''"></div>
            <div>Social Security Number <input class="edit" name="SocialSecurityNum" th:value="${table} == 'employees' and not ${insert} ? ${employee.SocialSecurityNum} : ''"></div>
            <div>Residence <input class="edit" name="Residence" th:value="${table} == 'employees' and not ${insert} ? ${employee.Residence} : ''" size="60"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <div>
                <form  action="back/Employee">
                    <input type="submit" value="Back">
                </form>
            </div>
        </div>
    </div>

    <!-- users table-->
    <div th:style="${table} == 'users' ? 'display:block' : 'display:none'">
        <h2>Users</h2>
        <form action="users" method="post">
            <div>User Name <input class="edit" readonly name="UserName" th:value="${table} == 'users' and not ${insert} ? ${user.UserName} : ''"></div>
            <div>Role ID <input class="edit" name="RoleID" th:value="${table} == 'users' and not ${insert} ? ${user.RoleID} : ''"></div>
            <div>Employee ID <input class="edit" name="EmployeeID" th:value="${table} == 'users' and not ${insert} ? ${user.EmployeeID} : ''"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <div>
                <form  action="back/User">
                    <input type="submit" value="Back">
                </form>
            </div>
        </div>
    </div>

    <!-- projects table-->
    <div th:style="${table} == 'projects' ? 'display:block' : 'display:none'">
        <h2>Projects</h2>
        <form action="projects" method="post">
            <input type="hidden" name="id" th:value="${table} == 'projects' and not ${insert} ? ${project.id} : ''">
            <div>Project Name <input class="edit" name="ProjectName" th:value="${table} == 'projects' and not ${insert}? ${project.ProjectName} : ''"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <div>
                <form  action="back/Project">
                    <input type="submit" value="Back">
                </form>
            </div>
        </div>
    </div>

    <!-- roles table-->
    <div th:style="${table} == 'roles' ? 'display:block' : 'display:none'">
        <h2>Roles</h2>
        <form action="roles" method="post">
            <input type="hidden" name="ID" th:value="${table} == 'roles' and not ${insert} ? ${role.ID} : ''">
            <div>Role <input class="edit" name="RoleDesc" th:value="${table} == 'roles' and not ${insert} ? ${role.RoleDesc} : ''"></div>
            <div>Is Admin <input type="checkbox" class="edit" name="IsAdmin" th:value="${table} == 'roles' and not ${insert} ? ${role.IsAdmin} : ''"></div>
            <div>Project ID <input class="edit" name="ProjectId" th:value="${table} == 'roles' and not ${insert} ? ${role.ProjectId} : ''"></div>
            <div class="inline"><input type="submit" value="Confirm"></div>
        </form>
        <div class="inline">
            <div>
                <form  action="back/Role">
                    <input type="submit" value="Back">
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>