<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
        <title>Login</title>
    </head>
    <body>
<!--    <div class="container1">-->
    <h1>Time Tracer</h1>
    <h2>Login</h2>
<!--    </div>-->
<!--    <div class="container2">-->
        <img src="img/logo.png">
<!--    </div>-->
<!--    <div class="container3">-->
        <form action="/" method="post">
            <div>User Name: <input name="UserName"></div>
            <div>Password: <input id="pwd" name="Password" type="password"></div>
            <div><input type="submit" value="Login"></div>
            <div id="caps-lock" style="display: none;">Caps Lock ON</div>
        </form>
<!--    </div>-->
    <script th:src="@{/scripts/capsLock.js}" type="text/javascript"></script>
    </body>
</html>