<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
        <title>Reset Timeout</title>
    </head>
    <body>
    <h1>Password Reset Timeout</h1>
    <div>The time to reset your password has expired</div>
    <div>Have your administrator reset your password again</div>
    <div>
        <form action="/" >
            <input type="submit" value="Back">
        </form>
    </div>
    </body>
</html>