<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/punchin.css}">
    <title>Time Punch</title>
  </head>
  <body>
  <form action="punch" method="post">
    <input name="userName" type="hidden" th:value="${userId}">
    <input name="employeeId" type="hidden" th:value="${employeeId}">
    <div class="page">
      <div class="title">
        <h1>Time Tracer</h1>
        <h2>Time Punch</h2>
      </div>
      <div class="fixed-data">
        <div><span th:text="'Employee: ' + ${employeeName} + ' ' + ${employeeSurname}"></span></div>
        <div><span id="date-time"></span><input type="hidden" id="dateTime" name="dateTime"></div>
      </div>
      <div class="projects">
        <div>Projects</div>
        <select name="chooseProject" size="10" required>
          <option th:each="project : ${projects}"
                  th:value="${project.id}"
                  th:text="${project.ProjectName}"></option>
        </select>
      </div>
      <div class="in-out">
        <span><input name="inout" type="radio" value="IN" checked >IN</span>
        <span><input name="inout" type="radio" value="OUT">OUT</span>
      </div>
      <div class="buttons">
        <input type="submit" value="OK">
        <input type="button" value="Accept">
        <input type="button" value="Cancel">
        <input type="button" value="Remind">
        <input type="button" value="Ch. Pwd">
      </div>
      <div class="last-time">
        <div>Punched in at 19/08/2024 12:39:08</div>
      </div>
    </div>
  </form>
   <script src="scripts/clock.js" type="text/javascript"></script>
  </body>
</html>
