<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/punchin.css}">
    <title>Time Punch</title>
  </head>
  <body>
    <h1>Time Tracer</h1>
    <h2>Time Punch</h2>
    <form action="punch" method="post">
      <div class="container1">
        <div>Employee: <span th:text="${employeeName}" /> <span th:text="${employeeSurname}" /></div>
        <div>Time: <span id="clock"><span id="date-time"></span></span><input type="hidden" id="dateTime" name="dateTime"></div>
      </div>
      <div class="container2">
        <div>Projects</div>
        <select name="chooseProject" size="4" required="true">
          <option th:each="project : ${projects}"
                  th:value="${project.id}"
                  th:text="${project.ProjectName}" />
        </select>
      </div>
      <div class="container3">
        <div></div><input name="inout" type="radio" value="IN" checked >IN</div>
        <div></div><input name="inout" type="radio" value="OUT">OUT</div>
      </div>
      <div class="container4">
        <input type="submit" value="OK">
        <input type="button" value="Accept">
        <input type="button" value="Cancel">
        <input type="button" value="Remind">
        <input type="button" value="Ch. Pwd">
      </div>
      <div class="container5">
        <div>Punched in at 19/08/2024 12:39:08</div>
      </div>
      <input name="userName" type="hidden" th:value="${userId}">
      <input name="employeeId" type="hidden" th:value="${employeeId}">
    </form>
    <script src="scripts/clock.js" type="text/javascript"></script>
  </body>
</html>
