<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <title>Title</title>
</head>
<body>
<h1>View</h1>
<!-- times table-->
<div th:style="${table} == 'times' ? 'display:block' : 'display:none'">
    <div>Employee Id <input class="view" type="text" th:value="${table} == 'times' ? ${time.EmployeeID} : ''" readonly></div>
    <div>Project Id <input class="view" type="text" th:value="${table} == 'times' ? ${time.ProjectID} : ''" readonly></div>
    <div>Punched Time <input class="view" type="text" th:value="${table} == 'times' ? ${time.PunchedTime} : ''" readonly></div>
    <div>in <input  class="view"type="checkbox" th:checked="${table} == 'times' ? ${time.in} : ''" onclick="return false"></div>
    <div>Insert User <input class="view" type="text" th:value="${table} == 'times' ? ${time.InsertUser} : ''" readonly></div>
    <div>Insert Timestamp <input class="view" type="text" th:value="${table} == 'times' ? ${time.InsertTimestamp} : ''" readonly></div>
    <div>Modify User <input class="view" type="text" th:value="${table} == 'times' ? ${time.ModifyUser} : ''" readonly></div>
    <div>Modify Timestamp <input class="view" type="text" th:value="${table} == 'times' ? ${time.ModifyTimestamp} : ''" readonly></div>
    <div>
        <form  action="back/Time">
            <input type="submit" value="Back">
        </form>
    </div>
</div>

<!-- employees table-->
<div th:style="${table} == 'employees' ? 'display:block' : 'display:none'">
    <div>Name <input type="text" class="view" readonly th:value="${table} == 'employees' ? ${employee.Name} : ''"></div>
    <div>Surname <input type="text" class="view" readonly th:value="${table} == 'employees' ? ${employee.Surname} : ''"></div>
    <div>Date of birth <input type="text" class="view" readonly th:value="${table} == 'employees' ? ${employee.BirthDate} : ''"></div>
    <div>Place of birth <input type="text" class="view" readonly th:value="${table} == 'employees' ? ${employee.BirthPlace} : ''"></div>
    <div>Social Security Number <input type="text" class="view" readonly th:value="${table} == 'employees' ? ${employee.SocialSecurityNum} : ''"></div>
    <div>Residence <input type="text" class="view" readonly th:value="${table} == 'employees' ? ${employee.Residence} : ''" size="60"></div>
    <div>
        <form  action="back/Employee">
        <input type="submit" value="Back">
        </form>
    </div>
</div>

<!-- users table-->
<div th:style="${table} == 'users' ? 'display:block' : 'display:none'">
    <div>User Name <input type="text" class="view" readonly  th:value="${table} == 'users' ? ${user.UserName} : ''"></div>
    <div>Role ID <input type="text" class="view" readonly  th:value="${table} == 'users' ? ${user.RoleID} : ''"></div>
    <div>Employee ID <input type="text" class="view" readonly  th:value="${table} == 'users' ? ${user.EmployeeID} : ''"></div>
    <div>
        <form  action="back/User">
            <input type="submit" value="Back">
        </form>
    </div>
</div>

<!-- projects table-->
<div th:style="${table} == 'projects' ? 'display:block' : 'display:none'">
    <div>Project Name <input type="text" class="view" readonly th:value="${table} == 'projects' ? ${project.ProjectName} : ''"></div>
    <div>
        <form  action="back/Project">
            <input type="submit" value="Back">
        </form>
    </div>
</div>

<!-- roles table-->
<div th:style="${table} == 'roles' ? 'display:block' : 'display:none'">
    <div>Role <input type="text" class="view" readonly th:value="${table} == 'roles' ? ${role.RoleDesc} : ''"></div>
    <div>Is Admin <input type="checkbox" onclick="return false" class="view" readonly th:checked="${table} == 'roles' ? ${role.IsAdmin} : ''"></div>
    <div>Project ID <input type="text" class="view" readonly th:value="${table} == 'roles' ? ${role.ProjectId} : ''"></div>
    <div>
        <form  action="back/Role">
            <input type="submit" value="Back">
        </form>
    </div>
</div>

<!-- logs table-->
<div th:style="${table} == 'logs' ? 'display:block' : 'display:none'">
    <div>Operation <input class="view" type="text" th:value="${table} == 'logs' ? ${log.Operation} : ''" readonly></div>
    <div>Table <input class="view" type="text" th:value="${table} == 'logs' ? ${log.Table} : ''" readonly></div>
    <div>New Values<p><textarea class="view" th:text="${table} == 'logs' ? ${log.NewValues} : ''" readonly rows="4" cols="75"></textarea></p></div>
    <div>Old Values<p><textarea class="view" th:text="${table} == 'logs' ? ${log.OldValues} : ''" readonly rows="4" cols="75"></textarea></p></div>
    <div>Undo Id <input class="view" type="text" th:value="${table} == 'logs' ? ${log.undoId} : ''" readonly></div>
    <div>Timestamp <input class="view" type="text" th:value="${table} == 'logs' ? ${log.timestamp} : ''" readonly></div>
    <div>
        <form  action="back/Log">
            <input type="submit" value="Back">
        </form>
    </div>
</div>

</body>
</html>